.about[b-c7sj9kgkyl], .experiences[b-c7sj9kgkyl], .educations[b-c7sj9kgkyl], .skills[b-c7sj9kgkyl] {
    margin: 10px 0;
    margin-bottom: 15px;
  
    /* background: #181818;
    box-shadow: 0 0 5px black inset; */
    padding: 15px;
  }
  
    