.about[b-w4dj3481zc], .experiences[b-w4dj3481zc], .educations[b-w4dj3481zc], .skills[b-w4dj3481zc] {
    margin: 10px 0;
    margin-bottom: 15px;
  
    /* background: #181818;
    box-shadow: 0 0 5px black inset; */
    padding: 15px;
  }
  
    